// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Rubik", sans-serif; // Шрифт за замовчуванням
$secondfontFamily: "Prata", sans-serif; 
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor:#5B5B5B; // Колір шрифту за замовчуванням
$menuColor:#939393; // Колір шрифту за замовчуванням
$buttonHover:#939393; // Колір шрифту за замовчуванням
$titleColor: #201f1f; // Колір шрифту за замовчуванням
$logoColor:#91795C; // Колір шрифту за замовчуванням
$activeBulletColor:#91795C; // Колір шрифту за замовчуванням
$headerIconBG: rgba(32, 31, 31, 0.6); // Колір шрифту за замовчуванням

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1770;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
