@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("C://SystemDisk/Patreon/Portfolio/ARCT/src/assets/svgicons/preview/iconfont.woff2?c5452a45f9e03a29d6b456d92f6441cd") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-slider-arrow-right"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-logo"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-burger"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f105"; 
	} 
