.header {
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 50;
    padding: 15px 0;
    @include adaptiveValue("top", 50, 0);
    transition: all 0.3s;

    &__container {
        position: relative;
        z-index: 50;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-block {
        color: $logoColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-right", 96, 30);
    }

    &__logo-text {
        font-size: 10px;
    }

    &__icon {
        font-size: 38px;
        padding-right: 10px;

    }

    &__menu {}

    &__buttons {
        display: flex;
        gap: 24px;
        align-items: center;
        cursor: pointer;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #fff;
        background-color: $headerIconBG;
    }

    &__search-body {
        max-width: 770px;
        // padding: 0 15px;
        margin: 0 auto;
        position: absolute;

        inset: 0;
        width: 100%;
        min-height: 54px;
        opacity: 0;
        transition: all ease-in 0.3s;

        [search-open] & {
            opacity: 1;
            top: 100%;
        }

    }

    &__input-body {
        display: flex;
    }

    &__input {
        position: relative;
        background-color: #fff;
        border: 2px solid $menuColor;
        padding: 0 40px 0 15px;
        font-size: 18px;
        width: 100%;
        height: 54px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
        }

    }

    &__search-close {
        position: relative;

        // width: 14px;
        // height: 14px;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 7px);
            right: 10px;
            width: 14px;
            height: 3px;
            background-color: #000;
        }

        &::after {
            transform: translate(-50%, 0%) rotate(45deg);
        }

        &::before {
            transform: translate(-50%, 0%) rotate(-45deg);
        }
    }

    &__search-content {
        background-color: #fff;
        min-height:
            250px;
        border: 1px solid rgba(0, 0, 0, 0.116);
    }

}