.header {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    z-index: 3;
    &__container {
        display: flex;
        align-items: center;
    }

    &__logo-block {
        color: $logoColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-right", 96, 30);
    }

    &__logo-text {
        font-size: 10px;
    }

    &__icon {
        font-size: 38px;
        padding-right: 10px;

    }

    &__menu {
        flex: 1 1 auto;
    }

    &__buttons {
        display: flex;
		gap: 24px;
        align-items: center;

    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
		color: #fff;
        background-color: rgba(32, 31, 31, 0.6);
    }
}

.menu {

    &__body {}

    &__list {}

    &__item {}

    &__link {}
}

.neader {

    &__search {}

    &__burger {}
}