<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__logo-block">
			<a href="#" class="header__icon --icon-logo"></a>
			<p class="header__logo-text">ARCT</p>
		</div>
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="" class="menu__link">Home</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">About</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">Services</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">Portfolio</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__buttons">
			<button type="button" class="header__button --icon-search"></button>
			<div class="header__button">
				<button type="button" data-fls-menu class="icon-menu"><span></span></button>
			</div>
		</div>
	</div>
</header>