.menu {

    // .menu__icon
    &__icon {}

    // .menu__body
    &__body {
        @media (max-width: toEm($mobile)) {
            position: fixed;
            width: 100%;
            height: 100svh;
            left: -100%;
            top: 0;
            overflow: auto;
            padding: 50px 15px 30px 15px;
            transition: left 0.3s;

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 70px;
                left: -100%;
                top: 0;
                transition: left 0.3s;
                z-index: 2;
            }

            [data-fls-menu-open] & {
                left: 0;

                &::before {
                    left: 0;
                }
            }
        }
    }

    // .menu__list
    &__list {
        display: flex;
        @include adaptiveValue("gap", 44, 15);

        @media (max-width: toEm($mobile)) {}
    }

    // .menu__item
    &__item {}

    // .menu__link
    &__link {
		&:hover{
			color: black;
		}
        color: $menuColor;
        @media (max-width: toEm($mobile)) {}
    }
}

//Burger Icon
.icon-menu {
	position: relative;
    display: flex;
	flex-direction: column;
	gap: 1px;
    width: toRem(14);
  
    z-index: 5;

    @media (any-hover: none) {
        cursor: default;
    }

    span,
    &::before,
    &::after {
		content: "";
		display: block;
		width: 14px;
		height: 3px;
        transition: all 0.3s ease 0s;
		background-color: #fff;
    }   

    [data-fls-menu-open] & {
        span {
            width: 0;
        }

        &::before,
        &::after {}

        &::before {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }

        &::after {
            bottom: calc(50% - 1px);
            transform: rotate(45deg);
        }
    }

}